.App {
  margin: 0 auto;
  margin-top: 32px;
  text-align: center;
  flex-grow: 1;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.mapContainer{
  margin-top: 25px;
  margin-left: 75px;
}

.bar{
  height: 10vh;
}

.buttonControls {
    position: absolute;
    bottom: 10px;
    left: 10px;
}